<div class="about-me col-sm">
    <h1 class="sub-heading">MY NAME IS {{ userName.toUpperCase() }} I'M ...</h1>
    <p class="about-me-paragraph">Building brands has been a part of my DNA since the age of 16 when I 
        started my own snowboard apparel company. Now with a closet full of 
        sample t-shirts, I’ve grown into a designer who prioritizes empathy 
        and entrepreneurship in every creative opportunity I face.
    </p>
    <p class="about-me-paragraph">
        With over ten years of professional experience, I have mastered the ins and outs to 
        become a seasoned designer equipped with the creative direction, strategic eye, 
        expert design, and technical skills that top brands are searching for. Keep exploring 
        my portfolio and see how!
    </p>
</div>