
<div id="back">
    <header>
        <a href="#" class="logo">
            <img src="../assets/images/yq.png">
        </a>
        <nav class="navigation">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <div class="divider">
        <section id="parallax">
            <img src="../assets/images/coolmountain.jpg" id="bg">
            <img src="../assets/images/coolcliff.png" id="cliff">
            <h1 id="name">Yusuf Qazi</h1>
            <div class="grad" id="grad"></div>
        </section>
    </div>

    <div id="down-arrow"></div>
    <div class="container">
        <div class="row">
            <div class="about-me">
                <h1 class="sub-heading">MY NAME IS YUSUF I'M ...</h1>
                <p class="about-me-paragraph">Building brands has been a part of my DNA since the age of 16 when I 
                    started my own snowboard apparel company. Now with a closet full of 
                    sample t-shirts, I’ve grown into a designer who prioritizes empathy 
                    and entrepreneurship in every creative opportunity I face.
                </p>
                <p class="about-me-paragraph">
                    With over ten years of professional experience, I have mastered the ins and outs to 
                    become a seasoned designer equipped with the creative direction, strategic eye, 
                    expert design, and technical skills that top brands are searching for. Keep exploring 
                    my portfolio and see how!
                </p>
            </div>
            <div>
                <img src="../assets/images/circle.png">
                <!-- <img src="../assets/images/circle.png">
                <img src="../assets/images/circle.png">
                <img src="../assets/images/circle.png"> -->
            </div>
        </div>
    </div>
</div>

