* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#back {
    background-color: black;
    min-height: 11750px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

header .logo {
    position: relative;
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    z-index: 100;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
    margin-left: 20px;
    z-index: 100;
}

header ul li a {
    position: relative;
    text-decoration: none;
    padding: 6px 15px;
    color: white;
}

section {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: block; */
}

.grad {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10vh;
    background: linear-gradient(to top, black, transparent);
    z-index: 10;
}


section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    pointer-events: none;
}

section img#bg {
    transform: translateY(-210px);
}

section img#cliff {
    transform: translateY(-270px);
}

p {
    color: white;
    font-size: 100px;
    z-index: 1;
}

/* new ends here */

/* section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.person-name {
    text-align: center;
    color: #FFB400;
    font-size: 65px;
    line-height: 0;
}

.person-profession {
    text-align: right;
    padding-right: 41px;
    font-size: 55px;
    color: white;
}

.group-head {
    color: white;
    border: 5px solid;
    position: relative;
    width: 30%;
    left: 35%;
    border-color: transparent;
} */


/* START ANIMATED BUTTON */
/* .animated-arrow-cont {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: left;
    height: 100%;
}

.animated-arrow-cont:hover {
    color: white;

}

.the-arrow {
    width: 100px;
    transition: all 0.2s;
}

.the-arrow.-left {
    position: absolute;
    top: 60%;
    left: 0;
}

.the-arrow.-left>.shaft {
    width: 0;
    background-color: white;
}

.the-arrow.-left>.shaft:before,
.the-arrow.-left>.shaft:after {
    width: 0;
    background-color: white;
}

.the-arrow.-left>.shaft:before {
    transform: rotate(0);
}

.the-arrow.-left>.shaft:after {
    transform: rotate(0);
}

.the-arrow.-right {
    top: 3px;
}

.the-arrow.-right>.shaft {
    width: 1px;
    transition-delay: 0.2s;
}

.the-arrow.-right>.shaft:before,
.the-arrow.-right>.shaft:after {
    width: 8px;
    transition-delay: 0.3s;
    transition: all 0.5s;
}

.the-arrow.-right>.shaft:before {
    transform: rotate(40deg);
}

.the-arrow.-right>.shaft:after {
    transform: rotate(-40deg);
}

.the-arrow>.shaft {
    background-color: white;
    display: block;
    height: 1px;
    position: relative;
    transition: all 0.2s;
    transition-delay: 0;
    will-change: transform;
}

.the-arrow>.shaft:before,
.the-arrow>.shaft:after {
    background-color: white;
    content: '';
    display: block;
    height: 1px;
    position: absolute;
    top: 0;
    right: 0;
    transition: all 0.2s;
    transition-delay: 0;
}

.the-arrow>.shaft:before {
    transform-origin: top right;
}

.the-arrow>.shaft:after {
    transform-origin: bottom right;
}

.animated-arrow {
    display: inline-block;
    color: white;
    font-size: 1.25em;
    font-style: italic;
    text-decoration: none;
    position: relative;
    transition: all 0.2s;
}

.animated-arrow:hover {
    color: white;
}

.animated-arrow:hover>.the-arrow.-left>.shaft {
    width: 64px;
    transition-delay: 0.1s;
    background-color: white;
}

.animated-arrow:hover>.the-arrow.-left>.shaft:before,
.animated-arrow:hover>.the-arrow.-left>.shaft:after {
    width: 8px;
    transition-delay: 0.1s;
    background-color: white;
}

.animated-arrow:hover>.the-arrow.-left>.shaft:before {
    transform: rotate(40deg);
}

.animated-arrow:hover>.the-arrow.-left>.shaft:after {
    transform: rotate(-40deg);
}

.animated-arrow:hover>.main {
    transform: translateX(17px);
    transform: translateX(80px);
}

.animated-arrow:hover>.main>.the-arrow.-right>.shaft {
    width: 0;
    transform: translateX(200%);
    transition-delay: 0;
}

.animated-arrow:hover>.main>.the-arrow.-right>.shaft:before,
.animated-arrow:hover>.main>.the-arrow.-right>.shaft:after {
    width: 0;
    transition-delay: 0;
    transition: all 0.1s;
}

.animated-arrow:hover>.main>.the-arrow.-right>.shaft:before {
    transform: rotate(0);
}

.animated-arrow:hover>.main>.the-arrow.-right>.shaft:after {
    transform: rotate(0);
}

.animated-arrow>.main {
    display: flex;
    align-items: center;
    transition: all 0.2s;
}

.animated-arrow>.main>.text {
    margin: 10px 16px 10px 0;
    color: #FFB400;
    line-height: 1;
}

.animated-arrow>.main>.the-arrow {
    position: relative;
} */
/* END ANIMATED BUTTON */