@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#back {
    background: #000;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

header .logo {
    position: relative;
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    z-index: 100;
}

header .logo img {
    width: 80px;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
    margin-left: 20px;
    z-index: 100;
}

header ul li a {
    position: relative;
    text-decoration: none;
    padding: 6px 15px;
    color: white;
}

section {
    position: fixed;
    top: 0;
    width: 100%;
    height: 1080px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#name {
    color: rgba(255, 255, 255, 0.8);
    display: flex;
    position: fixed;
    justify-content: center;
    font-size: 8vw;
    text-transform: uppercase;
    font-family: "Protest Riot";
    width: 100%;
    top: 380px;
    text-shadow: 7px 2px 4px rgba(0, 0, 0, 0.2);
}

section > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1200px;
    object-fit: cover;
    pointer-events: none;
}

section > img#bg {
    top: -210px;
}

section > img#cliff {
    top: -210px;
}

.grad {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 250px;
    background: linear-gradient(to top, black 70px, black 100px, transparent);
    z-index: 99;
}

#down-arrow {
    color: white;
    position: absolute;
    top: calc(100vh - 80px);
    left: calc(50% - 14px);
    width: 0;
    border: 2px solid;
    border-radius: 2px;
}

#down-arrow:after {
    content: " ";
    position: absolute;
    top: -8px;
    left: -18px;
    width: 32px;
    height: 32px;
    border-bottom: 4px solid;
    border-right: 4px solid;
    border-radius: 9px;
    transform: rotateZ(45deg);
}

@keyframes jumpInfinite {
    0% {
        margin-top: 0px;
    }
    50% {
        margin-top: 20px;
    }
    100% {
        margin-top: 0px;
    }
}

#down-arrow {
    animation: jumpInfinite 1.5s infinite;
}

.divider {
    height: 1080px;
}

p {
    color: white;
}

.body {
    margin-left: 10%;
    margin-right: 10%;
    overflow: hidden;
}

.about-me {
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
}

.sub-heading {
    color: white;
    font-size: 25px;
    margin-bottom: 24px;
    text-transform: uppercase;
}

.headline-2 {
    font-size: 23px;
    font-weight: bold;
    text-decoration: underline;
}

.bio {
    max-width: 500px;
    min-width: 100px;
}

.grid {
    align-items: center;
}

.skills {
    margin-top: 150px;
}

.my-skills {
    margin-top: 60px;
    padding-left: 10%;
    padding-right: 10%;
    row-gap: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-between;
}

.skill-div {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.experience {
    margin-top: 150px;
    margin-left: auto;
}

.contact {
    margin-top: 250px;
    color: white;
}

.form {
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
}

.contact-desc {
    max-width: 429px;
}

.heading {
    text-align: center;
    /* font-size: 190px; */
    font-size: 10vw;
    color: rgba(132, 132, 132, 0.17);
    font-weight: bold;
}

.contact-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-form {
    max-width: 429px;
}

.exp-details {
    display: flex;
    flex-wrap: wrap;
    padding-top: 16px;
    justify-content: center;
    justify-content: space-evenly;
}

.footer {
    overflow: hidden;
}

.about-us {
    background-color: #25252580;
    color: white;
    width: 100%;
    margin-top: 180px;
    padding: 60px 10%;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;

    .headline {
        font-size: 40px;
        font-weight: bolder;
        margin-bottom: 30px;
    }

    .details {
        max-width: 300px;
    }

    p {
        margin-bottom: 30px;
    }

    li {
        margin-bottom: 30px;
        list-style-type: none;
    }

    .socials {
        display: flex;
        gap: 30px;
    }
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

.personal {
    margin-right: 10px;
}

.fa-linkedin {
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background-color: #007bb5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 1.4em;
    align-content: center;
    text-align: center;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}

.app-store {
    height: 40px;
    width: 40px;
}

.headline-3 {
    font-family: serif;
    line-height: 1.16;
    font-weight: 100;
    font-size: 120px;
}

.portfolio {
    color: white;
    /* margin-left: -100px; */
    /* margin-right: -100px; */
    margin-top: 150px;
    margin-bottom: 150px;

    .line {
        height: 1px;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.6);
        margin-top: 48px;
        margin-bottom: 66px;
    }
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.gallery-section {
    flex: 1;
    min-width: 100px;
    flex-wrap: wrap;
    display: flex;
    gap: 24px;
}

.gallery-large {
    min-width: 200px;
    max-height: 100%;
}

.image-large {
    object-fit: cover;
}

.image:hover {
    border: solid 1px;
}

.image {
    border-radius: 4px;
    object-fit: cover;
}
