
<div id="back">
    <header>
        <a href="#" class="logo">
            <img src="../assets/images/yq.png">
        </a>
        <nav class="navigation">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <div class="divider">
        <section id="parallax">
            <img src="../assets/images/coolmountain.jpg" id="bg">
            <img src="../assets/images/coolcliff.png" id="cliff">
            <h1 id="name">Yusuf Qazi</h1>
            <div class="grad" id="grad"></div>
        </section>
    </div>

    <div id="down-arrow"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <app-user userName="yusuf"></app-user>
            </div>
            <div class="col-lg-1">
                <p>sdsdsdsddssd</p>
            </div>
             <!-- <app-exp-card></app-exp-card> -->
        </div>
    </div>
</div>

